body {
  background-color: rgba(33, 0, 219, 0.171);
}

div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  height: 50vh;
  justify-content: space-between;
}

button {
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}
button:hover {
  background-color: aqua;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
}
button:active {
  box-shadow: 3px 3px 20px black;
}